* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
}

.c-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.img-logo {
    height: 70px;
}

.c-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

#barra-busqueda {
    color: #999999;
    border: solid 1px;
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 10px 15px;
}

.ingresar {
    background-color: #2A5EA5;
    color: #FFFFFF;
    padding: 10px 14px;
    border: none;
    border-radius: 10px;
    font-size: 0.9rem;
}

.c-libros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 9px;
}

.img-libros {
    width: 9%;
}

.col-libros{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.libros {
    font-size: 0.9rem;
}

.n-libros {
    font-weight: 600;
}

main {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 19px;
}

.c-categorias {
    background-color: #D1DCE8;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

.t-categoria {
    background-color: #ECF0F4;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
}

.img-ctg {
    width: 25%;
}

.catwgoria {
    font-size: 0.8rem;
}

.c-presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 69px;
}

.c-banner {
    background-color: #E4E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 22px 39px;
    flex: 5;
}

.c-info {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 17px;
    flex: 2;
}

.titulo {
    font-size: 2.3rem;
    font-weight: 600;
}

.linea-azul {
    background-color: #275798;
    width: 100px;
    height: 5px;
}

.info {
    color: #585858;
    font-size: 1.3rem;
}

.banner {
    height: 282px;
}

.c-invitacion {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex: 3;
    gap: 10px;
}
.invitacion{
    color: #585858;
    font-size: 1.2rem;
}

.c-recomendados {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    flex: 3;
}

.recomendados {
    font-size: 1.4rem;
    font-weight: 600;
}

.main-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 11px;
    width: 100%;
}

.t-recomendados {
    border: solid 2px #D0D0D0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 14px 22px;
    width: 100%;
}

.c-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-r {
    position: static;
    height: 110px;
}

.c-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 6px;
    padding: 7px 14px;
    width: 100%;
}

.libro-r {
    font-size: 1.1rem;
    font-weight: 600;
}

.autor-r {
    color: #7B7B7B;
    font-size: 1.1rem;
}

.row-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 12px 22px;
    width: 100%;
}

.ver-mas {
    color: #3C6EA1;
    font-size: 1.1rem;
}

.mas {
    background-color: #15324F;
    color: #FFFFFF;
    padding: 5px 11px;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
}