* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
}

.c-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.img-logo {
    height: 80px;
}

.c-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

#barra-busqueda {
    color: #999999;
    border: solid 1px;
    border-radius: 10px;
    font-size: 0.9rem;
    padding: 10px 15px;
}

.ingresar {
    background-color: #2A5EA5;
    color: #FFFFFF;
    padding: 10px 14px;
    border: none;
    border-radius: 10px;
    font-size: 0.9rem;
}

.c-libros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 9px;
}

.img-libros {
    width: 9%;
}

.col-libros{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.libros {
    font-size: 0.9rem;
}

.n-libros {
    font-weight: 600;
}

main {
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 19px;
    height: 100%; 
}

.c-categorias {
    background-color: #D1DCE8;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 25px;
}

.t-categoria {
    background-color: #ECF0F4;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 18px;
}

.img-ctg {
    width: 25%;
}

.catwgoria {
    font-size: 0.8rem;
}

.c-presentacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 49px;
}

.c-banner {
    background-color: #E4E4E4;
    padding: 69px 0px 69px 31px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: row;
    flex: 4;
    gap: 50px;
    width: 100%;
}

.c-info {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 29px;
    flex: 4;
}

.titulo {
    font-size: 2.5rem;
    font-weight: 600;
}

.linea-azul {
    background-color: #275798;
    width: 90px;
    height: 6px;
}

.info {
    color: #585858;
    font-size: 1.4rem;
}

.banner {
    height: 311px;
}

.c-invitacion {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex: 5;
    gap: 10px;
    padding: 0px 31px 0px 0px;
}
.invitacion{
    color: #585858;
    font-size: 1.4rem;
}

.c-recomendados {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    flex: 2;
}

.recomendados {
    font-size: 1.4rem;
    font-weight: 600;
}

.main-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.t-recomendados {
    border: solid 2px #D0D0D0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 14px 22px;
    width: 100%;
    gap: 7px;
}

.c-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
}

.img-r {
    position: static;
    height: 110px;
}

.c-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
    padding: 7px 14px;
    width: 80%;
}

.libro-r {
    font-size: 1.1rem;
    font-weight: 600;
}

.autor-r {
    color: #7B7B7B;
    font-size: 1.1rem;
}

.row-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 4px 3px;
    width: 100%;
}

.ver-mas {
    color: #3C6EA1;
    font-size: 1.1rem;
}

.mas {
    position: relative;
    top: 1px;
    left: 19px;
    background-color: #15324F;
    color: #FFFFFF;
    padding: 3.5px 9.5px;
    border: none;
    border-radius: 50%;
    font-size: 1.8rem;
}